{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'slider-reviews.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<h2>{{ section.settings.heading }}</h2>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'review' %}
          <article class="swiper-slide" {{ block.shopify_attributes }}>
            <header>
              <img src="{{ 'quotes.svg' | asset_url }}" width="30px" height="30px">
            </header>
            <main>
              {% assign str_size = block.settings.review_text | size %}
              {%- if str_size > 0 -%}
                <div class="review-text">
                  {{- block.settings.review_text  -}}
                </div>
              {%- else -%}
                <p class="review-text">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum iaculis tortor, sit amet
                  pellentesque elit malesuada quis. Pellentesque facilisis rhoncus varius."
                </p>
              {%- endif -%}
            </main>
            <footer>
              <figure>
                {% if block.settings.customer_image != blank %}
                  {{
                    block.settings.customer_image
                    | image_url: width: 100
                    | image_tag: alt: 'Customer Photo', class: 'review-img', loading: 'lazy'
                  }}
                {% else %}
                  <img class="review-img" src="{{ 'customer-default-img.jpg' | asset_url }}" width="30" height="auto">
                {% endif %}
                <figcaption>John Doe</figcaption>
              </figure>
            </footer>
          </article>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

{% schema %}
{
  "name": "Reviews Slider",
  "tag": "section",
  "class": "reviews-slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some Reviews"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "header",
          "content": "Review Settings"
        },
        {
          "type": "paragraph",
          "content": "Here goes the review of the customer. It's important that you leverage the most important words of each review for the customer. Highlight those words of the review that are really important for your customers, these will convey to your customers how good your products are."
        },
        {
          "type": "richtext",
          "id": "review_text",
          "label": "Review Text",
          "info": "If you want to Underline text use CMD + U on Mac, or CTRL + U on Windows."
        },
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Customer Image",
          "info": "Photo of the customer"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name",
          "placeholder": "John Doe"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Slider",
      "settings": {
        "heading": "Join 1,320 coffeelovers ❤️"
      },
      "blocks": [
        {
          "type": "review",
          "settings": {
            "customer_name": "John Doe"
          }
        },
        {
          "type": "review",
          "settings": {
            "customer_name": "John Doe"
          }
        },
        {
          "type": "review",
          "settings": {
            "customer_name": "John Doe"
          }
        }
      ]
    }
  ]
}
{% endschema %}
