{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'slider-reviews.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>

<h2>{{ section.settings.heading }}</h2>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'review' %}
          <article class="swiper-slide">
            <header>
              <img src="{{ 'quotes.svg' | asset_url }}" width="30px" height="30px">
            </header>
            <main>
              <p>"{{ block.settings.review_text | strip }}"</p>
            </main>
            <footer>
              <figure>
                {% if block.settings.customer_image != blank %}
                  {{
                    block.settings.customer_image
                    | image_url: width: 100
                    | image_tag: alt: 'Customer Photo', class: 'review-img', loading: 'lazy'
                  }}
                {% else %}
                  <img class="review-img" src="{{ 'customer-default-img.jpg' | asset_url }}" width="100" height="auto">
                {% endif %}
                <figcaption>John Doe</figcaption>
              </figure>
            </footer>
          </article>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" async></script>
<script>
  console.log(document.querySelector('.swiper-pagination'));
  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 1,
    slidesOffsetBefore: 30,
    slidesPerGroup: 1,
    centeredSlides: true,
    centerSlidesBounds: true,
    breakpoints: {
      989: {
        slidesPerView: 3,
        slidesPerGroup: 3,
        spaceBetween: 10,
        centeredSlides: false,
        longSwipes: false,
        centerSlidesBounds: false,
        longSwipes: false,
        autoHeight: true,
      },
      750: {
        slidesPerView: 2,
        slidesPerGroup: 2,
        spaceBetween: 25,
        centeredSlides: false,
        centerSlidesBounds: false,
        longSwipes: false,
        autoHeight: true,
      },
    },
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
    },
  });
</script>

{% schema %}
{
  "name": "Reviews Slider",
  "tag": "section",
  "class": "reviews-slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some Reviews"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "review_text",
          "label": "Review Text",
          "info": "Here goes the review of the customer"
        },
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Customer Image",
          "info": "Photo of the customer"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name",
          "placeholder": "John Doe"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Slider",
      "settings": {
        "heading": "Join 1,320 coffeelovers ❤️"
      },
      "blocks": [
        {
          "type": "review",
          "settings": {
            "review_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum iaculis tortor, sit amet pellentesque elit malesuada quis. Pellentesque facilisis rhoncus varius.",
            "customer_image": "https://randomuser.me/portraits/men/3.jpg",
            "customer_name": "John Doe"
          }
        }
      ]
    }
  ]
}
{% endschema %}
